/*
@author hatuna-827
2025/02/10
Updated: 2024/03/21
*/

:root {
    --primary-color: #00669f;
    --secondary-color: #dfb755;
    --text-color: #000000;
    --background-color: #fefefe;
    --code-background: #f8f8f8;
    --border-color: #BBB;
    --button-color: #E5E5E5;
    --button-hover: #ccc;
    --shadow-color: #00669f;
    --font-sans: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    --font-serif: '游明朝', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', serif;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

body {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    font-family: var(--font-sans);
    background-color: var(--background-color);
}

#header,
#footer {
    font-family: var(--font-serif);
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
}

#main {
    margin: 30px 40px;
}

#header {
    padding: 40px 0px;
    font-size: 50px;
    line-height: 0px;
}

#footer {
    margin-top: 100px;
    padding: 15px 0px;
    font-size: 15px;
    line-height: 0px;
}

#header::after {
    content: "K10-K10";
}

#footer::after {
    content: "© 2025 K10-K10 All Rights Reserved";
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
    color: var(--text-color);
    line-height: 0px;
}

h1 {
    margin: 30px 20px;
    font-size: 50px;
    line-height: 50px;
}

h2 {
    margin: 25px 45px;
    font-size: 40px;
    line-height: 40px;
}

h3 {
    margin: 20px 65px;
    font-size: 35px;
    line-height: 35px;
}

h4 {
    margin: 15px 80px;
    font-size: 30px;
    line-height: 30px;
}

h5 {
    margin: 10px 90px;
    font-size: 20px;
    line-height: 20px;
}

h6 {
    margin: 5px 95px;
    font-size: 20px;
    line-height: 20px;
}

a {
    font-family: var(--font-sans);
    color: var(--primary-color);
    text-decoration: none;
    padding: 0px 65px;
    margin: 0px;
    font-size: 20px;
    line-height: 35px;
}

a:hover {
    text-decoration: underline 1px;
    text-underline-offset: 4px;
}

a:active {
    color: var(--secondary-color);
}

p {
    font-family: var(--font-sans);
    margin: 0px;
    padding: 0px 65px;
    line-height: 35px;
    color: var(--text-color);
    font-size: 20px;
}

p a {
    padding: 0px;
}

button {
    font-family: var(--font-sans);
    min-width: 100px;
    width: auto;
    height: 35px;
    margin: 5px 75px;
    line-height: 0px;
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
    padding: 0px 10px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--button-color);
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    color: var(--primary-color);
}

pre {
    font-family: var(--font-serif);
    margin: 10px 65px;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow: auto;
    line-height: 25px;
    color: var(--text-color);
    font-size: 17px;
    background-color: var(--code-background);
    border: var(--border-color) solid 1.5px;
    box-shadow: 5px 5px var(--shadow-color);
}

pre code {
    position: absolute;
    margin: -16px 0px 0px -16px;
    padding: 2px 20px;
    font-size: 13px;
    line-height: 20px;
    background-color: var(--button-color);
    border: var(--border-color) solid 1.5px;
    border-radius: 5px;
}

ul {
    list-style-type: disc;
    padding: 0px;
    margin: 10px 75px;
}

ul li {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    color: var(--text-color);
    font-size: 20px;
}

ul li a {
    margin: 0px;
    padding: 0px;
    display: inline;
}

img {
    font-family: var(--font-sans);
    margin: 20px 65px;
    color: var(--text-color);
    font-size: 15px;
    max-width: calc(100% - 130px);
    max-height: 50vh;
}

hr {
    margin: 20px;
}

strong {
    font-weight: bold;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
}

#tag {
    margin: 10px 65px;
    padding: 20px 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow: auto;
    background-color: var(--code-background);
    border: var(--border-color) solid 1.5px;
}

#tag a {
    margin: 0px 20px;
    padding: 0px;
    line-height: 30px;
    color: var(--text-color);
    font-size: 20px;
    font-family: var(--font-serif);
}

#tag a::selection,
#tag a:hover {
    text-decoration: underline 0.5px;
    text-underline-offset: 3px;
}

.copy-button-box {
    text-align: right;
}

.copy-button {
    font-family: var(--font-serif);
    width: 90px;
    height: 30px;
    margin: -15px 65px;
    line-height: 0px;
    color: var(--text-color);
    font-size: 17px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--button-color);
}

@media screen and (max-width: 1000px) {
    #main {
        margin: 20px 10px;
    }

    h1 {
        margin: 5px 10px;
        font-size: 25px;
        line-height: 25px;
    }

    h2 {
        margin: 5px 15px;
        font-size: 22px;
        line-height: 22px;
    }

    h3 {
        margin: 5px 20px;
        font-size: 19px;
        line-height: 19px;
    }

    h4 {
        margin: 5px 25px;
        font-size: 16px;
        line-height: 16px;
    }

    h5 {
        margin: 5px 30px;
        font-size: 13px;
        line-height: 13px;
    }

    h6 {
        margin: 5px 35px;
        font-size: 10px;
        line-height: 10px;
    }

    a {
        padding: 0px 30px;
        font-size: 13px;
        line-height: 23px;
    }

    p {
        margin: 0px;
        padding: 0px 30px;
        line-height: 23px;
        font-size: 13px;
    }

    p a {
        padding: 0px;
    }

    button {
        min-width: 100px;
        width: auto;
        height: 20px;
        margin: 5px 30px;
        line-height: 0px;
        font-size: 13px;
        text-align: center;
        padding: 0px 10px;
        border-radius: 5px;
        border: 0px;
    }

    pre {
        margin: 5px 30px;
        padding: 7px;
        border-radius: 5px;
        white-space: pre-wrap;
        overflow: auto;
        line-height: 13px;
        font-size: 10px;
        box-shadow: 3px 3px var(--shadow-color);
    }

    ul, li {
        margin: 3px 40px;
        line-height: 23px;
        font-size: 13px;
    }

    img {
        margin: 10px 30px;
        font-size: 10px;
        max-width: calc(100% - 60px);
        max-height: 20vh;
    }

    hr {
        margin: 10px;
    }

    strong {
        font-weight: bold;
        text-decoration: underline 0.5px;
        text-underline-offset: 2px;
    }

    #tag {
        margin: 5px 30px;
        padding: 10px;
    }

    #tag a {
        margin: 0px 10px;
        line-height: 15px;
        font-size: 12px;
    }

    .copy-button {
        width: 60px;
        height: 20px;
        margin: -15px 30px;
        font-size: 11px;
    }
}
