::selection {
    background-color: #007e00;
    color: #fff;
}
body {
    margin: 0px;
    font-family: '游明朝','Yu Mincho','YuMincho','Hiragino Mincho Pro',serif;
    font-size: 0px;
    background-color: #f8f7f2;
}
Code {
    
}