.Code {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	width: 100%;
	text-align: left;
	padding: 10px;
	background: #181818;
	border-radius: 8px;
}

.Code-txt {
	padding-left: 24px;
	color: var(--white-color);
	box-sizing: border-box;
	overflow-x: auto;
	white-space: pre-wrap;
	font-family: monospace;
	tab-size: 4;

}