.header {
	display: flex;
	top: 0;
	flex-direction: left;
	align-items: center;
	padding: calc(var(--header-height)/2) 0px;
	height: 0px;
	width: 100%;
	background-color: var(--primary-color);
}

.header a {
	color: var(--white-color);
	transition: all 0.2s ease;
	text-decoration: none;
}

.header a:hover {
	color: var(--link-color);
	transition: all 0.2s ease;
}

.header .title {
	margin: 0px auto 0px 10px;
	padding: 0px 20px;
	font-size: var(--Max-FontSize);
	font-weight: 600;
}

.header .topic_scope {
	display: flex;
	gap: 40px;
	margin: 0px 30px;
	font-weight: 400;
}

.header .topic_scope:hover .topic {
	color: var(--border-color);
}

.header .topic_scope .topic:hover {
	color: var(--link-color);
}