:root {
    --primary-color: #00669f;
    --secondary-color: #dfb755;
    --text-color: #000000;
    --background-color: #fefefe;
    --code-background: #f8f8f8;
    --border-color: #BBB;
    --button-color: #E5E5E5;
    --button-hover: #ccc;
    --shadow-color: #00669f;
    --animation-time: 0.2s;
    --font-sans: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    --font-serif: '游明朝', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', serif;
}

button {
    font-family: inherit;
}