@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--primary-color: #000000;
	--secondary-color: #C8EFF4;
	--primary-dark-color: #41558f;
	--error-calor: #FF0F0F;
	--black-color: #000000;
	--white-color: #ffffff;
	--black-hover-color: #666666;
	--cloudy_background-color: #f0f0f0;
	--border-color: #BBB;
	--button-color: #E5E5E5;
	--button-hover-color: #ccc;
	--link-color: #00669f;
	--shadow-color: #1e3e75;


	--font-main: "ubuntu mono";
	--font-sans: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
	--font-serif: '游明朝', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', serif;

	--header-height: 100px;
	--footer-height: 170px;
	--main-padding: 0px;

	--Max-FontSize: 30pt;
	--Second-FontSize: 25pt;
	--Third-FontSize: 20pt;
	--Base-FontSize: 15pt;

	--SiteTitle-FontWeight: 600;
	--PageTitle-FontWeight: 400;
	--Base-FontWeight: 200;
}

body {
	margin: 0px;
	background-color: var(--background-color);
	font-size: var(--Base-FontSize);
	font-weight: var(--Base-FontWeight);
	color: var(--black-color);
}


#main {
	min-height: calc(100vh - (var(--header-height) + var(--footer-height) + var(--main-padding)*2));
	padding: var(--main-padding) 0px;
	font-family: var(--font-main);
}
