.header {
	display: flex;
	flex-direction: left;
	align-items: center;
	top: 0;
	padding: calc(var(--header-height)/2) 0px;
	height: 0px;
	width: 100%;
	text-align: left;
	background-color: var(--primary-color);
}

.header div {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header a:hover {
	border-color: var(--white-color);
	color: var(--shadow-color);
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.title {
	margin-right: auto;
	padding: 0px 20px;
	font-size: 30pt;
	line-height: 0px;
	font-weight: 600;
	color: white;
	text-decoration: none;
}

.topic_scope {
	margin: 0px 30px;
	margin-left: auto;
}

.topic {
	margin: 0px 10px;
	padding: 0px 0px;
	font-size: 15pt;
	line-height: 0px;
	font-weight: 400;
	color: white;
	text-decoration: none;
}
