.header {
	display: flex;
	flex-direction: left;
	align-items: center;
	top: 0;
	padding: calc(var(--header-height)/2) 0px;
	height: 0px;
	width: 100%;
	text-align: left;
	background-color: var(--primary-color);
}

.header div {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header a:hover {
	border-color: var(--white-color);
	color: var(--link-color);
	/*transform: translateY(-2px);*/
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.header .title {
	margin-right: auto;
	padding: 0px 20px;
	font-size: var(--Max-FontSize);
	font-weight: 600;
	color: var(--white-color);
	text-decoration: none;
}

.header .topic_scope {
	margin: 0px 50px;
	margin-left: auto;
}

.header a {
	margin: 0px 10px;
	font-weight: 400;
	color: var(--white-color);
	text-decoration: none;
}

.header .topic_1:hover~.topic_2,
.header .topic_1:hover~.topic_3,
.header .topic_1:hover~.topic_4 {
	color: var(--border-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.header .topic_2:hover~.topic_3,
.header .topic_2:hover~.topic_4,
.header .topic_2:hover~.topic_1 {
	color: var(--border-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.header .topic_3:hover~.topic_4,
.header .topic_3:hover~.topic_1,
.header .topic_3:hover~.topic_2 {
	color: var(--border-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.header .topic_4:hover~.topic_1,
.header .topic_4:hover~.topic_2,
.header .topic_4:hover~.topic_3 {
	color: var(--border-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}
