footer {
	bottom: 0;
	height: 130px;
	width: 100%;
	padding: calc((var(--footer-height) - 130px)/2) 0px;
	text-align: center;
	background: var(--primary-color);
}

footer a {
	line-height: 0px;
}

.footer_info p {
	margin: 0px;
	color: var(--white-color);
}

.footer_icon img {
	margin: 10px;
	height: 50px;
	width: 50px;
}
